<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Syslog status</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icons: place in the root directory -->
    <!-- https://github.com/audreyr/favicon-cheat-sheet -->


    <!-- stylesheets -->
    <link rel="stylesheet" href="static/vendor/kraken/dist/css/main.css">
    <link rel="stylesheet" href="static/vendor/tables/dist/css/tables.css">

    <script data-main="static/main-status" src="static/vendor/requirejs/require.js"></script>



    <meta charset="UTF-8">
    <title>Syslog status</title>
</head>

<body>
<div class="container">
    <h1 class="text-center">Pyloggr status</h1>

    <div id="list_of_status"></div>
    <div id="list_of_syslog_servers"></div>
    <div id="list_of_rabbitmq_queues"></div>
    <div id="list_of_pgsql_stats"></div>
</div>

</body>
</html>
