wheel>=0.23.0
cryptography>=0.8
enum34
ftfy
future
futures>=2.2
geoip2>=2.0
Jinja2>=2.7
jsonschema>=2.4.0
marshmallow>=1.2.2
pika>=0.9
setuptools
setuptools_git
pkginfo
psycopg2>=2.6
pyparsing>=2.0
python-dateutil
redis
regex
requests
six
sortedcontainers
Sphinx>=1.3b3
sphinx-readable-theme
sphinx-rtd-theme
tornado>=4.1
toro>=0.8
twine
ujson
Mock