/**
 * Tables v2.2.2
 * Simple table styling, by Chris Ferdinandi.
 * http://github.com/cferdinandi/tables
 * 
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 */

/*  Removes default browser settings
 *  and evens out inconsistencies. */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5625em;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  vertical-align: bottom;
}

td {
  border-top: 0.0725em solid #ededed;
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

.table-condensed th,
.table-condensed td {
  padding: 0.25em;
}
